.side-bar {
    height: 100%;
    width: 25%;
    background-color: #31353F;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1.5em;
}

.side-bar-find {
    background-color: var(--color-light-accent);
    color: var(--color-dark-alt);
    padding: .7em 1.2em;
    border: none;
    border-radius: .3em;
}

.navigation-btns {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.navigation-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 1em;
    margin: .2em 0;
    padding: .4em;
    border-radius: .2em;
}

.navigation-btn:hover {
    background-color: rgba(255, 255, 255, .3);
}

.navigation-btn img {
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

.conversations-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.conversations-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conversations-header h3 {
    font-weight: 500;
}

.conversations-header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.conversations-header button:hover {
    background-color:  rgba(255, 255, 255, .3);
}

.conversations-header img {
    width: 1.6em;
    height: 1.6em;
}

.conversations-list {
    flex-grow: 1;
}

.conversation-item {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: .3em 0;
    padding: .3em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: .3em;
}

.conversation-item:hover {
    background-color:  rgba(255, 255, 255, .3);
}

.conversation-item img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #fff;
    margin-right: .8em;
}