@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./log-reg.css";
@import "./NavigationBar.css";
@import "./header.css";
@import "./chat.css";
@import "./friends-list.css";
@import "./settings.css";

:root {
    font-family: "Roboto", sans-serif;

    /* Vars */
    --color-dark: #31353f;
    --color-light: white;
    --color-dark-alt: #3b4253;
    --color-light-accent: #e7e7e7;
    --transition-time: 0.5s;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
}

button {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    height: 100%;
}

.main-container-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
